.paginaBuscar {
    background-color: #34393e;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buscador {
    background-color: transparent;
    height: 5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenidoBuscar {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.inputBuscar{
    all: unset;
    text-align: left;
    border: 2px solid rgb(169, 169, 169);
    border-bottom: 2px 2px;
    padding: 0.50em;
    width: 80%;
    margin-top: 1em;
    margin-block-end: 1em;
    color: #fff;
}

.inputBuscar::placeholder { color: rgb(255, 255, 255); font-weight: bold; }