.paginaBorrarUsuario {
    background-color: #34393e;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo{
    color: rgba(196, 196, 196, 1);
    font-size: 2em;
    padding-inline: 1rem;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.contenidoBorrarUsuario{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
}

.inputsBorrarUsuario {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #272b30;
    height: 30em;
    width: 45em;
    align-items: center;
    justify-content: center;
}

.botonesBorrarUsuario{
    display: flex;
    justify-items: space-evenly;
    margin-top: 1em;
}