.paginaEditarPerfil {
    background-color: #34393e;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenidoEditarPerfil{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
}

.inputsEditarPerfil {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #272b30;
    height: 48em;
    width: 45em;
    align-items: center;
    justify-content: center;
}

.botonesEditarPerfil{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-weight: bold;
    margin: 2em;
}