.paginaComunidades {
    background-color: #34393e;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenidoComunidades {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}