.Header {
    height: 5%;
    background-color: #272b30;
    color: white;
    padding-left: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}