.Header {
    height: 5%;
    background-color: #272b30;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nick {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.botonesHeader {
    margin-right: 1em;
    color: blanchedalmond;
}

.containerLogo {
    background-color: transparent;
    height: 10em;
    width: 29em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2d2d2d;
    text-shadow: 2px 1px 7px rgb(255, 255, 255, 0.900);
}

.logo {
    background-image: url(/img/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 3.5em;
    width: 3.5em;
}
