.paginaComunidad {
    background-color: #34393e;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenidoComunidad {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.cardComunidad {
    overflow-y: scroll;
}

.avatarMiembro {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}