.paginaRegistro {
    background-color: #34393e;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenidoRegistro {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
}

.inputsRegistro {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #272b30;
    height: 48em;
    width: 45em;
    align-items: center;
    justify-content: center;
}

.input {
    all: unset;
    text-align: left;
    border: 2px solid rgb(169, 169, 169);
    border-bottom: 2px 2px;
    padding: 0.50em;
    width: 80%;
    margin-top: 1em;
    margin-block-end: 1em;
    color: #fff;
}

.input::placeholder { color: rgb(255, 255, 255); font-weight: bold; }