.paginaLogin {
    background-color: #34393e;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenidoLogin {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.inputsLogin {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #272b30;
    height: 30em;
    width: 45em;
    align-items: center;
    justify-content: center;
}

.input2{
    all:unset;
    text-align: left;
    border: 2px solid rgb(169, 169, 169);
    border-bottom: 2px 2px;
    padding: 0.50em;
    width: 80%;
    margin: 0.5em;
    margin-top: 1.25em;
    background-color: #555a402d;
    color: #fff;
}

.msgError{
    height: 1em;
    width: 30em;
    color: #fff;
    margin: 0.5em;
}